* {
  margin: 0;
  padding: 0;


}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF8EE;
  scroll-behavior: smooth;
}

h2,
h3,
h4,
h5 {
  color: #CC3333;
}

p,
li {
  font-family: 'Lobster', cursive;
}

@media (min-width: 1200px) and (max-width:1400px) {
  .limitar-secao {
    max-width: 80%;
    margin: 0 10%;
  }
}

@media (min-width:1500px) {
  .limitar-secao {
    max-width: 80%;
    margin: 0 20%;
  }
}